<div>
  <h1>Her is the New Recipe...</h1>
  <form class="admin-add-recipe" [formGroup]="recipeForm" (ngSubmit)="onSubmitForm()">
      <input type="text" id="name" placeholder="Nom de la recette"  formControlName="name"/>
      <input type="text" id="img_address" placeholder="Adresse de l'image"  formControlName="img_address" />
      <input type="text" id="video_address" placeholder="Adresse de video" formControlName="video_address" />
      <div formArrayName="ingredients">
        <h3>Vos Ingredients</h3>
        <div *ngFor="let ingredient of getIngredients().controls; let i = index">
             <input type="text" [formControlName]="i" class="form-control"/>
        </div>
        <button type="button" id="button" (click)="onAddIngredient()">Ajouter un ingredient</button>
      </div>
      <div formArrayName="instructions">
        <h3>Vos Instructions</h3>
        <div *ngFor="let instruction of getInstructions().controls; let i = index">
             <input  type="text" [formControlName]="i" class="form-control"/>
        </div>
        <button type="button"  id="button" (click)="onAddInstruction()">Ajouter une instruction</button>
      </div>
      <button type="submit" id="button" [disabled]="recipeForm.invalid">+ Ajouter une recette</button>
  </form>
</div>
