<div>
  <h1>Her is the New Recipe...</h1>
  <form class="admin-add-recipe" (ngSubmit)="onSubmit(f)"  #f="ngForm">
      <input type="text" id="name" placeholder="Nom de la recette" name="name" ngModel required />
      <input type="text" id="img_address" placeholder="Adresse de l'image" name="img_address" ngModel required />
      <input type="text" id="video_address" placeholder="Adresse de video" name="video_address" ngModel required />
      <textarea rows="3" id="ingredients" type="text" placeholder="Liste des ingrédients séparés par une virgule" name="ingredients" ngModel required ></textarea>
      <textarea rows="15" id="instructions" type="text" placeholder="Liste des instructions séparés par une virgule" name="instructions" ngModel required></textarea>
      <button type="submit" id="button" [disabled]="f.invalid">+ Ajouter une recette</button>
  </form>
</div>
