<div>
  <h1>Her is the New Recipe...</h1>
  <form class="admin-add-recipe">
      <input type="text" id="name" placeholder="Nom de la recette" />
      <input type="text" id="img_address" placeholder="Adresse de l'image" />
      <input type="text" id="video_address" placeholder="Adresse de video" />
      <textarea rows="3" id="ingredients" type="text" placeholder="Liste des ingrédients séparés par une virgule" ></textarea>
      <textarea rows="15" id="instructions" type="text" placeholder="Liste des instructions( une par ligne)" ></textarea>
      <button type="submit" id="button">+ Ajouter une recette</button>
  </form>
</div>
