.DetailContainer {
  max-width: 504px;
  height: auto;
  background-color: #FFFFFF;
  margin: auto;
  margin-top: 10px;
  box-shadow: 0 3px 5px rgba(0,0,0,.2);
  border-radius: 2px;
  margin-bottom: 14px;
}
#header {
  height: 151px;
  width: 100%;
}
#ingredients_block{
  border: #DDDDDD;
}
.preparation {
  list-style-type: none;
}

#ingredient{
  width: 100%;
  margin-left: -20px;
  border-color: #DDDDDD;
 padding: 3px;
}


div > #ingredient_title{
  text-align: center;
  margin-left: 20px;
}

.ingredient_header{
  background-color: #DDDDDD;
  padding: 5px;
}


.btn-block {
  display: flex;
  flex-direction: row;
  justify-content: center;

}

#icon {
  margin-left: 14px;
}
#video {
  width: 500px;
}
#link {
  margin-top: 13px;
}
